streamsync
numpy==1.23.5  # Specify a compatible version
pandas
opencv-python-headless
requests
Flask
ultralytics
deepface
tensorflow==2.16.1  # Specify a compatible version
tf-keras
torch
tesseract
lap
